
body{
    background-color: #fff;
}
h1{
    font-size: 2.75rem;
}
h2{
    font-size: 2.25rem;
}
h3{
    font-size: 1.75rem;
}

h4{
    font-size: 1.25rem;
}

h5{
    font-size: 1.1125rem;
}

h6{
    font-size: 1rem;
}

header, main{
    margin: 50px 10%;
}

main > h4{
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 50px;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
ul li{
    font-size: 20px;
}
ul li a{
    /* text-decoration: none; */
    color: #000

}

.palette-content{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.palette-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.palette-section .palette-color{
    width: 15%;
    border-radius: 5px;
    /* border: 1px solid black; */
    padding: 50px;
}
.palette-section .orange{
    background-color: #ebae34;
}
.palette-section .greenish{
    background-color: #608f6b;
}

.palette-section .greyish{
    background-color: #8f7f60;
}

.palette-section .blue{
    background-color: #60748f;
}

.palette-section .greyish-blue{
    background-color: #978ebf;
}

.palette-section .dark-blue{
    background-color: #100f18;
}
.dark-blue p{
    color: white;
}